<% provide(:title, 'Edit resource') %>

<div id="dialog-form">
  <%= form_for @resource, :as => :resource, :url => resource_url(@resource.id),
               :method => :put, :html => { :class => 'form-horizontal'} do |f| %>
      Edit resource "<%= @resource.url %>"
      <% %w[name url].each do |item| %>
          <div class="control-group">
            <%= f.text_field item.to_sym, placeholder: item.titleize %>
          </div>
      <% end %>
      <div class="control-group">
        <%= f.text_field :tags, placeholder: 'Tags', value: @tag_string %>
      </div>
      <%= f.submit 'Edit', class: 'btn' %>
  <% end %>
</div>