<% provide(:title, 'Resources') %>
<h1>Hello!</h1>
<%= @id || 'empty email :(' %>

<%= render 'shared/errors' %>

<div id="dialog-form">
  <%= form_for :resource, url: resources_path, html: { class: 'form-horizontal' } do |f| %>
    Add new resource:
    <% %w[name url tags].each do |item| %>
      <div class="control-group">
        <%= f.text_field item.to_sym, placeholder: item.titleize %>
      </div>
    <% end %>
    <%= f.submit 'Add', class: 'btn' %>
  <% end %>
</div>

<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th style="width: 2%">№</th>
      <th style="width: 44%">Name</th>
      <th style="width: 44%">Tags</th>
      <th style="width: 10%">&nbsp</th>
    </tr>
  </thead>
  <tbody>
    <% @resources.each_with_index do |resource, count| %>
      <tr>
        <td><%= count+1 %></td>
        <td><%= link_to resource[:url], resource[:url] %></td>
        <td>
          <% resource[:tags].each do |tag_id| %>
            <div class="label"><%= @tags[tag_id] %></div>
          <% end %>
        </td>
        <td style="text-align: center">
          <%= link_to 'Edit', edit_resource_url(resource[:id]), :class => 'btn'%>
        </td>
        <td style="text-align: center">
          <%= link_to 'Delete', resource_url(resource[:id]),  :method => :delete, :confirm => "Are you sure?", :class => 'btn'%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
