<% provide(:title, 'Resources') %>

<%= javascript_tag do %>
    window.invert_tags = <%= raw @invert_tags.to_json %>
<% end %>

<% content_for :inner_header do %>
    <h1>Hello, <%= @name %>!</h1>
<% end %>

<% content_for :sidebar do %>
    <div id="sidebar" class="well">
      <%= render 'tags/index' %>
    </div>
<% end %>

<%= render 'resources/addition' %>

<div id="for-edit">
  <%= render partial: 'resources/edition' %>
</div>

<%= render 'tags/addition' %>

<%= link_to 'Add resource', '#new-res-form',
            {role: 'button', class: 'btn', 'data-toggle' => 'modal'} %>
<%= link_to 'Add tag', '#new-tag-form',
            {role: 'button', class: 'btn', 'data-toggle' => 'modal'} %>

<br/>

<div class="selected-tags">
  <h4>Filtered by:</h4>
    <%= render partial: 'tags/selected' %>
</div>

<%= render 'shared/errors' %>

<%= render partial: 'resources_list' %>

<div id="empty"></div>