<% provide(:title, 'Resources') %>

<%= javascript_tag do %>
    window.invert_tags = <%= raw @invert_tags.to_json %>
<% end %>

<% content_for :inner_header do %>
    <h1>Hello, <%= @name %>!</h1>
<% end %>

<% content_for :sidebar do %>
    <div class="sidebar well">
      <%= render 'tags/index' %>
    </div>
<% end %>

<%= render 'resources/addition' %>

<div id="for-edit">
  <%= render partial: 'resources/edition' %>
</div>

<%= render 'tags/addition' %>

<%= link_to 'Add resource', '#new-res-form',
            {role: 'button', class: 'btn', 'data-toggle' => 'modal'} %>
<%= link_to 'Add tag', '#new-tag-form',
            {role: 'button', class: 'btn', 'data-toggle' => 'modal'} %>

<br/>

<div class="selected-tags">
  <h4>Filtered by:</h4>
  <% @selected_tags.each do |tag_id| %>
      <div class="label label-info"><%= link_to "#{@tags[tag_id.to_i]
      }&nbsp<i class='icon-remove icon-white' ></i>".html_safe,
                                                {action: :filtered_by, tag_id: tag_id} %></div>
  <% end %>
  <%= form_for :tag_search, url: {action: :filtered_by}, html: {method: :get, class: 'form-search', id: 'form-search'} do |f| %>
      <div class="input-append">
        <%= text_field_tag :tag_string, nil, class: 'search-query input-small', placeholder: 'Type tag name',
                           'data-provide' => 'typeahead', 'data-source' => "#{@tags.values}", rel: 'tooltip' %>
        <%= f.submit 'Filter', id: 'search_btn', class: 'btn ' %>
      </div>
  <% end %>
</div>

<%= render 'shared/errors' %>

<%= render partial: 'resources_list' %>

<div id="empty"></div>